<%- include('partials/header') %>

<main>
    <h1>You got the correct answer! Nice job!</h1>
    <h2>Your current streak is: <%= currentStreak%></h2>

    <a href="/quiz">
        Ready for Round 2?
    </a>
</main>