<%- include('partials/header') %>

<main>
    <h1>Good try! But that was the incorrect answer :(</h1>
    <h2>Your streak has been reset to 0. You'll get them next time!</h2>

    <a href="/quiz">
        Ready for Round 2?
    </a>
</main>