<%- include('partials/header') %>

<main>
    <li>
        <% leaderboard.forEach(i => { %>
            <li>Points: (<%= i.currentStreak %>) </li>
        <% }) %>
    </li>
    <h1>Top Scores!</h1>
    <a href="/quiz">
        Try For Yourself!
    </a>

</main>
